body {
  background-color: #0d0d0d;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 4px;
  margin: 0;
  padding: 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.fixed-background {
  background-image: url('../images/b.jpg');
  background-size: cover;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.search-input {
  display: block;
  padding: .375rem .75rem;
  font-weight: 400;
  letter-spacing: 4px;
  line-height: 1.5;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  background-clip: padding-box;
  border: 0;
  width: 30%;
  min-width: 300px;
  margin: auto;
  font-size: 20px;
}

.view-wrapper {
  overflow: auto;
  z-index: 1;
}

.view-wrapper .header-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin: auto;
}

.header-wrapper .framework-wrapper {
  text-align: right;
  padding: 20px 10px;
}

.header-wrapper .framework-wrapper .big {
  display: none;
}

.header-wrapper .framework-wrapper img.small {
  width: 50px;
  margin-right: 20px;
}

.view-wrapper .framework-wrapper img.big {
  width: 150px;
  margin-right: 20px;
}

.view-wrapper .header-wrapper > div {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.view-wrapper .title {
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  padding: 28px 15px;
}

.view-wrapper .content-wrapper {
  min-height: 85%;
  padding: 100px 10px 30px 10px;
}

.view-wrapper .footer-wrapper {
  background-color: #000000;
  border-top: 1px solid #f3f3f3;
  height: 80px;
  padding: 40px 20px;
  position: relative;
}

.view-wrapper .footer-wrapper > div {
  margin-top: 10px;
}

.view-wrapper .footer-wrapper a {
  color: lightblue;
  font-weight: bold;
}

.box-shadow {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.75);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin: auto;
  max-width: 1280px;
}

.column {
  -ms-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  min-height: 1px;
  position: relative;
  width: 50%;
  min-width: 150px;
}

.product-detail {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px 15px 120px 15px;
  position: relative;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.product-detail .detail-content-wrapper,
.product-detail .detail-image-wrapper {
  min-height: 80px;
}

.product-detail .detail-image-wrapper img {
  width: 100%;
}

.product-detail .detail-image-wrapper {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}

.product-detail .detail-content-wrapper {
  -webkit-box-flex: 0;
  -ms-box-flex: 0;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.product-detail .detail-content {
  padding: 0 20px;
}

.product-detail-name-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.product-detail .detail-name-wrapper {
  border-bottom: 1px solid white;
  font-size: 22px;
}

.nutrition-fact {
  margin-top: 5px;
}

.product-detail .detail-description-wrapper {
  min-height: 200px;
  padding-top: 10px;
  padding-bottom: 150px;
}

.product-detail .detail-description {
  padding-bottom: 20px;
}

.product-detail .detail-price-wrapper {
  bottom: 20px;
  font-size: 22px;
  position: absolute;
  right: 20px;
}

.product-detail .detail-img-placeholer {
  opacity: 0.8;
}

.product-detail.in-modal {
  background-color: transparent;
  height: 100%;
  position: static;
}

.product-detail.in-modal .detail-name-wrapper {
  border-bottom: 1px solid black;
}

.product-list-wrapper .product-wrapper {
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
}

.product-list-wrapper .product-wrapper.have-product-id .product-content {
  cursor: pointer;
}

.product-list-wrapper .product-content {
  margin: 20px auto;
  min-height: 200px;
  width: 95%;
}

.product-list-wrapper .product-name {
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #333;
  padding: 10px;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}

.product-list-wrapper .product-image {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  text-align: center;
  padding: 35px 0px;
}

.product-list-wrapper .product-wrapper .product-image img {
  min-height: 180px;
  height: auto;
  width: 100%;
}

.product-list-wrapper .product-placeholder .product-image img {
  margin: 10px;
  min-height: 100px;
  opacity: 0.5;
  width: 80%;
}

.nutrition-fact-name {
  font-weight: bold;
}

.nutrition-fact-value {

}

.nutrition-fact-per {
  float: right;
  text-align: right;
}

.product-list-wrapper .product-wrapper .product-price {
  bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 5px;
  text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

.product-list-wrapper .product-wrapper .product-image {
  position: relative;
}

.product-list-wrapper .error-wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 22px;
  padding: 20px;
  text-align: center;
}

.product-list-wrapper .error-wrapper img {
  padding-bottom: 10px;
}

.product-list-wrapper .modal-wrapper {
  animation: modalAppear 0.5s;
  animation-fill-mode: forwards;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  overflow: auto;
}

.product-list-wrapper .modal-content-wrapper {
  animation: modalContentAppear 0.5s;
  animation-fill-mode: forwards;
  background-color: #eeeeee;
  bottom: auto;
  color: black;
  left: 0;
  min-height: 600px;
  padding: 15px 15px 120px 15px;
  position: absolute;
  right: 0;
  top: 0;
}

.product-list-wrapper .close-btn {
  cursor: pointer;
  font-family: Arial;
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.product-list-wrapper .modal-content {
  margin-top: 25px;
  overflow: auto;
  width: 100%;
}

.product-detail-name {
  -ms-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  min-height: 1px;
}

.sharable-link {
  padding-bottom: 10px;
  font-size: 20px;
  cursor: pointer;
  -ms-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  min-height: 1px;
  display: none;
}

.sharable-link:after {
  content: '(Get a sharable Link)';
}

.sharable-link.shared:after {
  content: '(Copied to Clipboard!)';
}

@keyframes modalAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalContentAppear {
  from {
    opacity: 0;
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    opacity: 1;
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@media (min-width: 600px) {
  .column {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .header-wrapper .framework-wrapper .big {
    display: inline;
  }

  .header-wrapper .framework-wrapper .small {
    display: none;
  }

  .product-detail-name {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
  }

  .sharable-link {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    text-align: right;
    display: inline;
  }
}

@media (min-width: 1025px) {
  .column {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .product-list-wrapper .modal-content-wrapper {
    bottom: 60px;
    left: 60px;
    right: 60px;
    top: 60px;
  }

  .product-detail .detail-content-wrapper {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .product-detail .detail-image-wrapper{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .sharable-link:hover {
    text-decoration: underline;
  }

  .have-product-id.product-wrapper .product-content:hover {
    -ms-transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    z-index: 2;
  }

  .have-product-id.product-wrapper .product-content:hover .product-name {
    background-color: rgba(180, 180, 180, 0.6);
    color: black;
  }
}
